@import "mocha.css";

* {
    font-family: "Meslo Nerd Font";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 5px;
    padding-left: 0px;
    padding-right: 0px;
    color: @teal;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @pink;
}

#workspaces button {
    padding: 1px 1px;
}

#workspaces button.focused {
    color: @teal;
}

#workspaces button.active {
    color: @pink;
}

#workspaces button.urgent {
    background-color: @maroon;
}

#tray {
    margin: 5px;
}

#pulseaudio,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#mode,
#scratchpad,
#clock {
    color: @flamingo;
    margin: 10px;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @blue;
    margin: 5px;
}

#network {
    color: @yellow;
    margin: 5px;
}

#battery {
    color: @green;
    margin: 5px;
}

#custom-notification {
    font-family: "Meslo Nerd Font";
    color: @blue;
    margin: 10px;
}
#custom-pacman {
    color: @pink;
    margin: 5px;
}

#custom-spotify {
    color: @green;
    margin: 5px;
}

#custom-vpn {
    color: @green;
    margin: 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 5px;
}
