@import "mocha.css"; 

* {
    font-family: "CaskaydiaCove Nerd Font";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @crust;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
    padding-left: 10px;
    padding-right: 8px;
    color: @teal;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @pink;
}

#workspaces button {
    padding: 1 4px;
}

#workspaces button.focused {
    color: @teal;
}

#workspaces button.active {
    color: @pink;
}

#workspaces button.urgent {
    background-color: @maroon;
}

#pulseaudio,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    color: @flamingo;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @blue;
}

#network {
    color: @yellow;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
}

#custom-notification {
    font-family: "CaskaydiaCove Nerd Font";
    color: @teal;
    margin-left: 10px;
    margin-right: 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 5;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 5;
}
