binds {
    // Core Noctalia binds
    Mod+Space { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Comma { spawn-sh "noctalia msg settings-toggle"; }
    // Alt+Tab { spawn-sh "noctalia msg window-switcher"; }
    Mod+L { spawn-sh "noctalia msg session lock"; }
    Mod+K { spawn "noctalia" "msg" "panel-toggle" "kenn/keybind-cheatsheet:cheatsheet"; }
    Mod+Escape { spawn-sh "noctalia msg panel-toggle session"; }

    // Brightness
    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }
}
