@import "../waybar/mocha.css";

* {
  all: unset;
  font-size: 14px;
  font-family: "CaskaydiaCove Nerd Font";
  transition: 300ms;
}

trough highlight {
  background: @base;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @base;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: @teal;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @base;
  color: @text;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @maroon;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @rosewater;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @flamingo;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @lavender;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @text;
  background-color: @base;
  box-shadow: inset 0 0 0 1px @crust;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @crust;
  background-color: @base;
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @crust;
  background-color: @teal;
  color: @text;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @base;
  background-color: @maroon;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @peach;
  color: @base;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @peach;
  color: @base;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @crust;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @base;
  color: @rosewater;
  padding: 14px;
}

.control-center .widget-title > label {
  color: @text;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @sky;
  background-color: @crust;
  box-shadow: inset 0 0 0 1px;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px @crust;
  background-color: @surface0;
  color: @teal;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @crust;
  background-color: @mauve;
  color: @base;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: @flamingo;
  background-color: @base;
  box-shadow: inset 0 0 0 1px @crust;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 @maroon;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @teal;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @pink;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @mauve;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @sky;
  background-color: @base;
  box-shadow: inset 0 0 0 1px @crust;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @crust;
  background-color: @base;
  color: @mauve;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @crust;
  background-color: @mauve;
  color: @base;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @base;
  background-color: @maroon;
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @red;
  color: @crust;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @red;
  color: @base;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px @crust;
  background-color: @base;
  color: @pink;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px @crust;
  background-color: @pink;
  color: @base;
}

.notification.critical progress {
  background-color: @red;
}

.notification.low progress,
.notification.normal progress {
  background-color: @sky;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @base;
  border: 1px solid @crust;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @mantle;
}

.control-center-dnd slider {
  background: @surface0;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @base;
  border: 1px solid @flamingo;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @crust;
}

.widget-dnd > switch slider {
  background: @surface0;
  border-radius: 8px;
  border: 1px solid @flamingo;
}

.widget-mpris .widget-mpris-player {
  background: @base;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: @maroon;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: @base;
}

.control-center .widget-label > label {
  color: @text;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @teal;
}

.widget-volume trough highlight {
  background: @blue;
}

.widget-backlight trough highlight {
  background: @yellow;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: @sapphire;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
